*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
/* NAVBAR */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.06);
    padding: 15px 60px;
    background:#E3E6F3;
    position: sticky;
    z-index: 999;
    top:0;
    left: 0;
}
.logo{
    width: 70px;
    height: auto;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
}
#navbar li a{
    text-decoration: none;
    font-size: 19px;
    font-weight:700;
    color:#1a1a1a;
    transition: 0.4s ease ;
}
#navbar li a:hover,
#navbar li a.active{
    color:rgba(219, 129, 19, 0.881);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    background-color:rgba(219, 129, 19, 0.881);
    bottom: -3px;
    left: 20px;
}
.mobile{
    display: none;
}
/* END OF NAVBAR */

/*HERO SECTION */
#hero{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
#hero .sub-header{
    margin-top:13rem;
    width: 100%;
}
#hero h1{
    font-size: 40px;
    margin-bottom: 0.5rem;
    color:#DC8D2E;
}
#hero h4{
    font-size: 25px;
    margin-bottom: 1rem;
    padding-left: 3.5rem;
}
#hero .btn{
    display: block;
    margin-left: 12rem;
    padding: 15px 25px;
    border: 1px solid #DC8D2E;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}
#hero .btn:hover{
    background-color:#DC8D2E;
    color:white;
    cursor:pointer;
}
.hero-img{
    width: 400px;
    height: auto;
}
/* END OF HERO SECTION */

/* FEATURE SECTION */
#feature{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feature-box{
    width:200px;
    border:1px solid black;
    margin: 2rem;
    
}
.feature-box:hover{
    background-color:#dc8e2ea1;
    cursor: pointer;
    transition: all 1s ease;
}
.feature-box img{
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}
.feature-box h4{
   text-align: center;
   padding: 9px 8px 6px 8px;
}
#feature .feature-box:nth-child(1) h4{
    background-color: #DC8D2E;
}
#feature .feature-box:nth-child(2) h4{
    background-color: #DC8D2E;
}
#feature .feature-box:nth-child(3) h4{
    background-color: #DC8D2E;
}
#feature .feature-box:nth-child(4) h4{
    background-color: #DC8D2E;
}
/* END OF FEATURE SECTION */

/* PRODUCT SECTION  */
#product1{
    text-align: center;
}
#product1 .products-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    border:1px solid black;
    position: relative;
    margin: 14px 0;
    padding: 10px 12px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transform: 2s ease;
    border-radius: 20px;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
}
#product1 .pro img{
    border-radius: 20px;
    width: 100%;
}
#product1 .description{
    text-align: start;
    padding:10px 0;
}
#product1 .description p{
    color:rgba(128, 128, 128, 0.717);
}
#product1 .description h4{
    padding: 6px 0;
}
#product1 .description h3{
    color:rgba(219, 129, 19, 0.881);
    padding-top: 7px;
    font-size: 25px;
}
#product1 .pro .cart{
    color: rgba(219, 129, 19, 0.881);
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background-color: rgba(219, 129, 19, 0.331);
    border-radius: 50px;
    border: 1px solid rgba(243, 142, 18, 0.938);
    position: absolute;
    bottom: 20px;
    right: 40px;

}
/* END OF PRODUCT SECTION  */

/* BANNER SECTION */
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/banner/ban.jpg);
    background-size: cover;
    background-position: top 35% center;
    width: 100%;
    height: 40vh;
}
#banner h2{
    font-size: 30px;
    margin-bottom: 1rem;
}
#banner button{
    padding: 15px 25px;
    border: 1px solid #DC8D2E;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}
#banner button:hover{
    background-color:#DC8D2E;
    color:white;
    cursor:pointer;
}
/* END OF BANNER SECTION */

/* FOOTER SECTION */
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    background-color: #E3E6F3;
}
footer .col{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: start;
}
footer .col h3{
    margin-bottom: 10px;
}
footer .col p{
    margin-bottom: 5px;
    color:rgb(62, 61, 61);
}
footer .col a i{
    padding: 2px;
    font-size: 20px;
}
footer .col a i:hover{
    font-size: 25px;
}
footer .col a{
    color:gray;
    text-decoration: none;
    padding: 3px;
}
footer .col a:hover{
    color:black;
}
footer .copyr{
    width: 100%;
    text-align: center;
    font-size: 18px;
    color:rgb(73, 72, 72);
}
/* END OF THE FOOTER */
/*Shop page*/
.pro{
    cursor: pointer;
}
#shop-hero{
    background-image: url(../img/banner/ban2.jpg);
    background-position: right 70% top 50%;
    background-size: cover;
    width: 100%;
    height: 40vh;
}
#pagination{
    text-align: center;
    margin: 1rem;
}
#pagination a{
    text-decoration: none;
    background-color: rgba(219, 129, 19, 0.331);
    color:black;
    font-weight: bold;
    padding: 15px 20px;
    border: 4px;
}
#pagination a:hover{
    background-color: rgba(214, 138, 45, 0.132);
}
.shop-footer{
    margin-top: 2rem;
}
/*End of shop page*/
/*Product page*/
#pro-details{
    padding: 15px;
    display: flex;
}
#pro-details .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.small-imgs{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    cursor: pointer;
    flex-basis: 24%;
}
.single-pro-details{
    padding-top: 25px;
    width: 50%;
}
#pro-details h3{
padding: 20px 0 30px 0;
font-size: 25px;
}
#pro-details select{
    padding: 5px 10px;
    display: block;
    margin:10px 0;
}
#pro-details input{
    width: 45px;
    height: 41px;
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 17px;
}
#pro-details input:focus{
    outline: none;
}
#pro-details button{
    margin-left: 5rem;
    padding: 15px 25px;
    border: 1px solid #DC8D2E;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    }
#pro-details button:hover{
    background-color:#DC8D2E;
    color:white;
    cursor:pointer;
    }
#pro-details p{
    font-size: 18px;
    margin-top: 10px;
    line-height: 20px;
}
/*End of product page*/
/* MEDIA QUERY */
@media(max-width:1000px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 200px;
        right: -200px;
        height: 100vh;
        position: fixed;
        top:0;
        padding: 80px 0 0 10px;
        background-color:#E3E6F3;
    }
    .mobile{
        display: flex;
        font-size: 25px;
        gap:5px;
        color:black;
    }
    #navbar li{
        margin-bottom: 20px;
    }
    #hero{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #hero .sub-header {
        margin-top: 2rem;
    }
    #hero h1 {
        text-align: center;
    }
    #hero h4 {
        text-align: center;
    }
    #hero .btn {
        display: block;
        margin: 0 auto;
    }
    #feature {
        justify-content:center;
    }
    .feature-box {
        margin: 1rem;
    }
    #product1 .products-container {
        justify-content: center;
   }
   /*SHOP*/

}
@media(max-width:500px){
    /* #header {
        padding: 10px 30px;
    } */
    .feature-box {
        width: 350px;
        border: 1px solid black;
        margin: 2rem;
    }
    .feature-box img {
        width: 350px;
        height: auto;
    }
    #product1 .pro {
        width: 40%;
        min-width: 350px;
    }
    
    .hero-img {
        width: 250px;
    }
    #hero h1 {
        font-size: 25px;
    }
    #hero h4 {
        font-size: 15px;
    }
      /*SHOP*/
 
}
@media(max-width:350px){
    #product1 .pro {
        width: 30%;
        min-width: 300px;
    }
    .hero-img {
        width: 290px;
    }
    .feature-box {
        width: 290px;
        border: 1px solid black;
        margin: 1rem;
    }
    .feature-box img {
        width: 200px;
        height: auto;
    }
}
/* END OF MEDIA QUERY */